.jumbotron {
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  text-shadow: 2px 2px #000;
}

.bg-cover {
  background-size: cover;
  color: white;
  background-position: center center;
  position: relative;
  z-index: -2;
  background-image: url('/images/bg2.jpg');
}

.btn-primary, .btn-primary:hover, .btn-outline-primary {
  background-color: white;
  color: grey;
}

.img-responsive {
  width: 100%;
  height:auto;
  object-fit: cover;
}
