<header>
    <p>Sample</p>
    <div class="jumbotron rounded-0 bg-primary bg-cover text-light">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <img src="/images/logo-clear2.png" height="200px" width="200px">
                </div>
                <div class="col-sm-12 text-center">
                    <h1 class="display-3">ZZoTech</h1>
                    <p>
                        Video & Photo equipment
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>