<tr>
    <td>{{formatDate date}}</td>
    <td>{{@index}}</td>
    <td>{{formatPrice total}}</td>
    <td><button type="button" class="float-right btn btn-secondary" onclick="Controller.controllers.profile.goToOrder_onclick('{{_id}}')">Details</button></td>
</tr>
